.root {
  -fx-background-color: #51759c;
}

.fieldLabel {
  -fx-font-size: 14pt;
  -fx-font-weight: bold;
  -fx-text-fill: white;
}

.button {
  -fx-padding: 3 20 3 20;
}

.autofill-text {
  -fx-skin: "com.greymax.vkplayer.ui.components.autocomplete.AutoFillTextBoxSkin";
}

.not-valid {
  -fx-background-color: orangered,linear-gradient(to bottom, derive(orangered,60%) 5%,derive(orangered,90%) 40%);
}