.control-panel {
  -fx-min-height: 75;
  -fx-max-height: 75;
  -fx-pref-height: 75;
  -fx-background-color: -fx-bg-default-primary-color;
}

.control-panel .control-panel-left {
  -fx-min-width: 150;
  -fx-max-width: 150;
  -fx-pref-width: 150;
  -fx-padding: 0 10 10 10;
}

.control-panel .control-panel-right {
  -fx-min-width: 150;
  -fx-max-width: 150;
  -fx-pref-width: 150;
}

.control-panel .control-panel-settings {
  -fx-min-width: 60;
  -fx-max-width: 60;
  -fx-pref-width: 60;
}

/* PLAYER BUTTONS */

.round-button-play {
  -fx-background-radius: 36px;
  -fx-background-color: -fx-bg-accent-color;
  -fx-min-height: 36;
  -fx-max-height: 36;
  -fx-pref-height: 36;
  -fx-min-width: 36;
  -fx-max-width: 36;
  -fx-pref-width: 36;
  -fx-cursor: hand;
}

.round-button-prev,
.round-button-next {
  -fx-background-radius: 30;
  -fx-background-color: -fx-bg-accent-color;
  -fx-min-height: 30;
  -fx-max-height: 30;
  -fx-pref-height: 30;
  -fx-min-width: 30;
  -fx-max-width: 30;
  -fx-pref-width: 30;
  -fx-cursor: hand;
}

.round-button-repeat,
.round-button-random,
.round-button-volume-max,
.round-button-volume-min {
  -fx-background-color: transparent;
  -fx-background-radius: 20;
  -fx-min-height: 20;
  -fx-max-height: 20;
  -fx-pref-height: 20;
  -fx-min-width: 20;
  -fx-max-width: 20;
  -fx-pref-width: 20;
  -fx-cursor: hand;
}

/* Buttons mask */

.jfx-button .jfx-rippler,
.jfx-toggle-node .jfx-rippler {
  -fx-rippler-fill: -fx-bg-light-primary-color;
}

/* Buttons glyphs */

.jfx-button .glyph-icon,
.jfx-toggle-node .glyph-icon {
  -fx-fill: -fx-text-primary-color;
}

.round-button-play .glyph-icon {
  -glyph-name: "PLAY_ARROW";
  -glyph-size: 35px;
}

.round-button-play.playing .glyph-icon {
  -glyph-name: "PAUSE";
}

.round-button-prev .glyph-icon {
  -glyph-name: "SKIP_PREVIOUS";
  -glyph-size: 25px;
}

.round-button-next .glyph-icon {
  -glyph-name: "SKIP_NEXT";
  -glyph-size: 25px;
}

.round-button-volume-min .glyph-icon {
  -glyph-name: "VOLUME_MUTE";
  -glyph-size: 20px;
}

.round-button-volume-max .glyph-icon {
  -glyph-name: "VOLUME_UP";
  -glyph-size: 20px;
}

.round-button-repeat .glyph-icon {
  -glyph-name: "REPEAT";
  -glyph-size: 16px;
}

.round-button-random .glyph-icon {
  -glyph-name: "SHUFFLE";
  -glyph-size: 16px;
}

.progress-time {
  -fx-text-fill: -fx-text-primary-color;
}

/* SLIDER */

.slider {

}

.slider > .thumb {
  -fx-background-color: -fx-bg-accent-color;
}

.slider .track {
  -fx-background-color: -fx-text-primary-color;
  -fx-pref-height: 3px;
  -fx-pref-width: 3px;
}


.song-title {
  -fx-text-fill: -fx-text-primary-color;
}

/* Options */

.control-panel .control-panel-settings .jfx-hamburger{
  -fx-padding: 10.0;
  -fx-spacing: 4px;
  -fx-cursor: hand;
}

.control-panel .control-panel-settings .jfx-hamburger StackPane {
  -fx-pref-width: 30px;
  -fx-pref-height: 4px;
  -fx-background-color: -fx-text-primary-color;
  -fx-background-radius: 5px;
}

.control-panel .control-panel-settings .jfx-rippler {
  -fx-rippler-fill: -fx-bg-light-primary-color;
}

.control-panel .control-panel-settings .jfx-options-burger {
  -fx-padding: 15px;
}
.control-panel .control-panel-settings .jfx-options-burger StackPane {
  -fx-pref-width: 4px;
}
