.playlist-add {
  -fx-background-radius: 16px;
  -fx-border-radius: 16px;
  -fx-background-color: #d1d1d1;
  -fx-border-color: #d1d1d1;
  -fx-background-image: url("../../image/list-add.png");
}
.playlist-add:hover {
  /*-fx-border-color: #548cff;*/
  -fx-background-image: url("../../image/list-add-over.png");
}